$keyboard-box-size: 50px;
$mobile-keyboard-box-size: 30px;

.tf-kbd {
    margin: auto;
  
    > div {
      justify-content: center;
      display: inline-flex;
      width: 100%;
    }
  
    .letter {
      background-color: white;
      margin: 5px;
      border: solid 1px;
      height: $keyboard-box-size;
      width: $keyboard-box-size;
      display: flex;
      cursor: pointer;
  
      span {
        margin: auto;
      }
  
      &.wrong {
        background-color: lightgray;
      }
  
      &.existing {
        background-color: lightyellow;
      }
  
      &.right {
        background-color: lightgreen;
      }
  
      &:focus-visible {
        outline: none;
      }
  
      @media (max-width: 790px) {
        margin: 2px;
        height: $mobile-keyboard-box-size;
        width: $mobile-keyboard-box-size;
      }
    }
  }